{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 Firefox versions",
            "last 2 Chrome versions",
            "last 2 Edge versions"
          ],
          "uglify": true
        }
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    ["transform-react-jsx", {"pragma": "h"}]
  ]
}
