:root {
  --gray-90: hsl(198, 20%, 90%);
  --gray-80: hsl(198, 18%, 80%);
  --gray-60: hsl(198, 15%, 60%);
  --gray-50: hsl(198, 10%, 50%);
  --gray-40: hsl(198, 5%, 43%);
  --gray-30: hsl(198, 5%, 30%);
  --gray-20: hsl(198, 5%, 20%);
  --gray-10: hsl(198, 5%, 10%);

  --yellow: hsl(41, 75%, 49%);
  --yellow-light: hsl(41, 75%, 90%);

  --orange: hsl(32, 100%, 45%);
  --orange-light: hsl(32, 60%, 90%);
  --blue: hsl(198, 70%, 40%);
  --blue-light: hsl(198, 60%, 90%);
  --blue-10: hsl(211, 40%, 10%);
  --blue-20: hsl(211, 40%, 20%);
  --green: hsl(150, 45%, 35%);
  --green-light: hsl(150, 60%, 90%);
  --red: hsl(0, 50%, 45%);
  --red-light: hsl(0, 60%, 90%);

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 450px;
  margin: 0;
  font-size: 1rem;
  font-family: Jaldi, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--gray-30);
}

button,
input[type='submit'] {
  border: 1px solid var(--gray-40);
  border-radius: 0.3em;
  color: inherit;
  /* stylelint-disable-next-line property-blacklist */
  font: inherit;
  cursor: pointer;
}
button:hover,
input[type='submit']:hover {
  box-shadow: 0.05em 0.2em 0.2em rgba(0, 0, 0, 0.2);
}

textarea,
input[type='text'] {
  display: block;
  width: 100%;
  margin: 0.5em -0.1em 0;
  padding: 0.1em;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid var(--gray-60);
  /* stylelint-disable-next-line property-blacklist */
  font: inherit;
}
textarea {
  resize: vertical;
}

::placeholder {
  color: var(--gray-60);
}

label,
.checkbox {
  display: block;
  color: var(--gray-40);
  font-family: Noto Serif, serif;
  font-weight: 700;
  font-size: 0.8rem;
}
label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.checkbox > label {
  color: var(--gray-30);
  font-size: 1rem;
  font-family: Jaldi;
  font-weight: normal;
}

.l-main {
  display: grid;
  grid-template:
    'sidebar header' 5rem
    'sidebar main' 1fr
    'footer  footer' auto
    / 3.125rem calc(100vw - 3.125rem);
  min-height: 100vh;
}
.l-main__sidebar {
  grid-area: sidebar;
  background-color: hsl(41, 75%, 97%); /* TODO: move */
  border-right: 1px solid var(--yellow-light);
}
.l-main__header {
  grid-area: header;
  padding-bottom: 1rem;
}
.l-main__main {
  grid-area: main;
}
.l-main__full {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
.l-main__footer {
  grid-area: footer;
}
.l-main::after {
  content: '';
  grid-column: 2 / 3;
  grid-row: 1 / -2;
  background-image: linear-gradient(
    to right,
    hsl(20, 75%, 65%),
    hsl(45, 75%, 65%)
  );
  z-index: -1;
}

.input-extra {
  float: right;
  color: var(--gray-60);
  font-size: 0.8rem;
}

.url-selector {
  position: relative;
}

.wm-overlay {
  position: absolute;
  top: 0;
  right: 0.5rem;
  width: 1rem;
  color: black;
  opacity: 0.3;
}

textarea:focus,
button:focus,
input[type='text']:focus {
  border-radius: 0.1em;
  outline: none;
  box-shadow: 0 0 0 5px hsla(41, 75%, 49%, 0.3);
}

a {
  color: var(--orange);
}
a:visited {
  color: var(--orange);
}
a:hover {
  color: var(--yellow);
}
a:active {
  color: var(--red);
}

form {
  margin-bottom: 1em;
}
form > * + *,
fieldset > * + * {
  margin-top: 1em;
}

.container {
  position: relative;
  height: 100%;
  padding: 0.5em 1em;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  background: white;
}
.container::before {
  position: absolute;
  top: -0.5rem;
  right: 1rem;
  left: 1rem;
  content: '';
  height: 0.5rem;
  border-radius: 1rem 1rem 0 0;
  background-color: rgba(255, 255, 255, 0.3);
}
.container--full {
  border-radius: 0;
}

.button {
  position: relative;
  padding: 0.5em 1em;
  border: 0;
  color: white;
  background-color: var(--yellow);
  outline: none;
}
.button:hover {
  opacity: 0.9;
  box-shadow: 0.05em 0.2em 0.2em rgba(0, 0, 0, 0.3);
}
.button.is-loading {
  color: transparent;
}
.button.is-loading::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  height: 1.4em;
  width: 1.4em;
  margin-top: -0.7em;
  margin-left: -0.7em;
  border: 2px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  animation: spin 500ms linear infinite;
}

.button svg {
  height: 1em;
  vertical-align: -0.2em;
}

.button-link {
  display: inline;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: inherit;
  color: var(--orange);
  cursor: pointer;
}
.button-link:hover {
  box-shadow: none;
  text-decoration: underline;
}
.button-small {
  font-size: 0.8em;
}

.section-heading {
  margin: 0 0 0.5rem;
  font-size: 1.2rem;
  font-family: Noto Serif, serif;
  font-weight: bold;
}

.minor-heading {
  margin: 0.2rem 0 0;
  font-size: 1rem;
  font-family: Jaldi, sans-serif;
  font-weight: bold;
}

.message {
  --hue: 211;

  margin-bottom: 0.5em;
  padding: 0.5em 1em;
  border: 0;
  border-radius: 0.5rem;
  color: hsl(var(--hue), 40%, 40%);
  background-color: hsl(var(--hue), 30%, 95%);
  box-shadow: 0 2px 4px hsla(var(--hue), 30%, 40%, 0.2);
}
.message--info {
  --hue: 211;
}
.message--success {
  --hue: 190;
}
.message--danger {
  --hue: 0;
}
.message--warning {
  --hue: 32;
}

.info-banner {
  margin: 0.5rem 0.2rem 0;
  padding: 0.2em 0.5em;
  border: 1px solid var(--yellow);
  font-size: 0.8rem;
  color: var(--gray-40);
  background-color: var(--yellow-light);
}

.header-title {
  margin: 0.5rem 0 0;
  padding: 0 1rem;
  color: white;
  font-size: 1rem;
  font-family: Noto Serif, serif;
}

.dropdown {
  position: relative;
  padding: 0 1rem;
  z-index: 1;
}
.dropdown__toggle {
  position: relative;
  display: block;
  width: 100%;
  max-height: 1.7rem;
  padding: 0.3rem 1rem;
  overflow-y: hidden;
  border: 0;
  color: var(--blue-20);
  background-color: transparent;
  font-size: 0.8rem;
  text-align: left;
  cursor: pointer;
}
.dropdown__toggle:hover,
.dropdown__toggle:focus {
  background-color: hsl(41, 50%, 75%, 0.5);
  box-shadow: none;
}
.dropdown__toggle__arrow {
  position: absolute;
  top: calc(50% - 0.25em);
  right: 0.5em;
  content: '';
  width: 0.5em;
  height: 0.5em;
  transform-origin: center 0.25em;
}
.dropdown__toggle__arrow svg {
  display: block;
}
.dropdown__drawer {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  height: 0;
  padding: 1rem;
  overflow: hidden;
  color: var(--gray-30);
  transition: 0s height;
  transition-delay: 0.3s;
}
.dropdown.is-open > .dropdown__drawer::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: rgba(255, 255, 255, 0.3);
  filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: -1;
}
.dropdown.is-open .dropdown__toggle__arrow {
  transform: rotate(180deg);
}
.dropdown.is-open > .dropdown__drawer {
  height: auto;
  transition-delay: 0s;
}

.url-option {
  display: block;
  width: 100%;
  padding: 0.3em 1rem;
  border: 0;
  border-radius: 2rem;
  color: white;
  background-color: hsla(211, 40%, 35%, 0.85);
  text-align: left;
  transition: all 0.2s ease-out;
  transform: translateY(-3rem);
  opacity: 0;
  cursor: pointer;
}
.url-option.is-in {
  transform: translateY(0);
  opacity: 1;
}
.url-option + .url-option {
  margin-top: 1rem;
}
.url-option:focus {
  border-radius: 2rem;
  box-shadow: 0 0 0 3px hsla(41, 85%, 50%, 0.4);
}
.url-option.is-active {
  box-shadow: 0 0 0 3px hsla(41, 85%, 50%, 0.8);
}
.url-option__type {
  font-weight: bold;
  font-size: 0.8rem;
}
.url-option__url {
  font-size: 0.8rem;
}
.url-option:disabled {
  color: var(--gray-80);
  cursor: default;
  box-shadow: none;
}
.url-option.is-in:nth-child(2) {
  transition-delay: 0.1s;
}
.url-option.is-in:nth-child(3) {
  transition-delay: 0.2s;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0.3em 1em;
  border: 1px solid var(--gray-80);
  margin-bottom: 1px;
  background-color: var(--gray-90);
  color: var(--gray-50);
  text-align: center;
  font-size: 0.8em;
}
.footer > .footer__right {
  margin-left: auto;
}
.footer > .footer__right ~ * {
  margin-left: 1em;
}
.footer > button + button {
  margin-left: 1em;
}
.footer a {
  text-decoration: none;
}
.footer a:hover {
  color: var(--orange);
  text-decoration: underline;
}

.quick-replies {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.25em;
  padding: 0 0 0.5em;
  list-style: none;
}
.quick-replies > li > button {
  padding: 0.3em 0.7em;
  border: 0;
  border-radius: 0;
  background: transparent;
}
.quick-replies > li + li > button {
  border-left: 1px solid var(--gray-80);
}
.quick-replies button:hover,
.quick-replies button:focus {
  border-radius: 0.1em;
  background-color: hsla(41, 75%, 49%, 0.2);
  outline: none;
  box-shadow: none;
}
.quick-replies button[disabled] {
  color: var(--gray-60);
}

.fields-inline {
  border: 0;
  padding: 0;
  display: flex;
}
.fields-inline > * + * {
  margin-left: 0.2em;
}
.fields-inline__fill {
  width: auto;
  flex: 1;
}

.input-inline {
  display: flex;
}
.input-inline > * + * {
  margin-left: 0.2em;
}

.side-nav {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0.5em 0;
}
@media (min-height: 450px) {
  .side-nav {
    height: calc(100vh - 1.9rem);
    min-height: initial;
  }
}
.side-nav > button {
  width: 100%;
  min-height: 3.125rem;
  padding: 0;
  overflow: hidden;
  border: 0;
  color: var(--gray-20);
  background: transparent;
  font-size: 0.6rem;
  font-family: Jaldi, sans-serif;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}
.side-nav > button > svg {
  margin: 0.5rem 1rem 0.3rem;
}
.side-nav > button:hover,
.side-nav > button:focus {
  color: var(--yellow);
  box-shadow: none;
}
.side-nav > button.is-active {
  border: 1px solid var(--gray-90);
  border-width: 1px 0;
  background-color: white;
}
.side-nav > button.is-active:first-of-type {
  /* stylelint-disable-next-line unit-whitelist */
  padding-top: 1px;
  border-top: 0;
}
.side-nav > button + button {
  margin-top: 0.5rem;
}
.side-nav__logo {
  flex-basis: 3.125rem;
  padding: 0.3rem 0.5rem 0.5rem;
  border-bottom: 1px solid var(--gray-90);
}
.side-nav > .side-nav__bottom {
  margin-top: auto;
  border-top: 1px solid var(--gray-90);
}
.side-nav > .side-nav__bottom ~ .side-nav__bottom {
  margin-top: 0;
  border-top: 0;
}

.settings-form__description {
  margin: 0;
  padding-left: 1em;
  color: var(--gray-40);
}
legend + .settings-form__description {
  margin-bottom: 1em;
}

.form-buttons {
  margin-top: 1rem;
}
.form-buttons > button + button {
  margin-left: 1em;
}

.reacji-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.2em;
}

.reacji-tag {
  display: inline-block;
  margin: 0 0.2em 0.2em;
  padding-left: 0.2em;
  border: 1px solid var(--gray-90);
  border-radius: 0;
}
.reacji-tag > button {
  margin-left: 0.2em;
  padding: 0.2em;
  border: 0;
  border-radius: 0;
  color: var(--red);
  background-color: transparent;
}
.reacji-tag > button:hover {
  box-shadow: 0 0 0.2em var(--red);
}

.logs {
  margin: 0;
  padding-left: 0;
  border: 1px solid var(--gray-60);
  list-style: none;
}
.logs > li {
  margin: 0;
  padding: 0;
}

.logs > li:first-child > .log {
  border-top: 0;
}

.log {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.2em 0.4em;
  border: 0;
  border-radius: 0;
  border-top: 1px solid currentColor;
  text-align: left;
  cursor: default;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}
.log--info {
  color: var(--gray-30);
  background-color: var(--gray-90);
}
.log--warning {
  color: var(--orange);
  background-color: var(--orange-light);
}
.log--error {
  color: var(--red);
  background-color: var(--red-light);
}
.log > time {
  display: block;
  color: var(--gray-50);
  font-size: 0.6rem;
  line-height: 1;
  text-align: right;
}
.log.has-data {
  cursor: pointer;
}
.log.has-data::after {
  position: absolute;
  top: 0.3em;
  right: 0;
  content: '+';
  font-weight: bold;
  padding: 0.4em;
  color: inherit;
}
.log.is-expanded::after {
  content: '-';
}

.log-details {
  padding: 0.4em;
  background-image: repeating-linear-gradient(
    to bottom,
    #fff 0,
    #fff 1em,
    #f8f8f8 1em,
    #f8f8f8 2em
  );
  background-position: 0 0.4em;
  font-family: monospace;
  font-size: 0.8rem;
  line-height: 1;
}

.metadata {
  font-size: 0.64em;
  font-weight: bold;
  opacity: 0.6;
}

.disabled {
  color: var(--gray-80);
  box-shadow: none;
}

.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hidden {
  display: none !important;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
